/* General Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;#
    text-decoration: none; 
    list-style-type: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    /* height: 10vh; */
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid rgb(215, 211, 228);
    background: rgb(239, 248, 248);
    /* position: fixed; */
}

.icon {
    margin-left: 1rem;
    vertical-align: center;
    cursor: pointer;
}

.hamburger-icon img:hover {
    font-size: 2rem;
    transition: all 0.4s ease;
}

.icon img {
    width: 100%;
}

.navbar {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.hamburger-icon {
    margin-right: 2rem;
    cursor: pointer;
}

.menu {
    display: none;
}


/* Main */
main {
    width: 100%;
}

/* Hero section */

.hero {
    margin-bottom: 2rem;
}

.bg-img img {
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5rem;
}

.hero-content h1, p, input {
    margin-bottom: 1rem;
    text-align: center;
}

.hero-content input, button {
    width: 60%;
    align-self: center;
    padding: 0.5rem;
}

#email {
    text-align: left;
    border: 1px solid grey;
}

.hero-content-btn {
    background-color: rgb(35, 35, 194);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two img {
   width: 100%; 
}

.section-two-content {
    padding: 2rem;
}

.section-two-content h3, p {
    text-align: justify;
    text-indent: 2rem;
    margin-bottom: 1rem;
}

.section-two-content h3 {
    text-align: center;
}

.section-two-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.section-two-link p {
    border-bottom: 1px solid green;
    text-indent: 0;
    padding-bottom: 0.3rem;
    color: green;
}

.section-two-link img {
    width: 5%;
}

blockquote {
    padding: 2rem;
    text-align: justify;
    /* quotes: "“" "”" "‘" "’"; */

}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

/* Section-three */

.section-three-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: aqua;
}

.section-three-content h1, p, input {
margin-bottom: 1rem;
text-align: center;
}

.section-three-content input, button {
    width: 60%;
    align-self: center;
    padding: 0.5rem;
}

.section-three-content-btn{
    background-color: rgb(35, 35, 194);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* Footer */

* {
    /* border: 1px solid green; */
}

footer {
    background-color: rgb(30, 30, 180);
    color: white;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.footer-phone, .footer-mail,
.footer-content {
    margin-bottom: 1rem;;
}

.footer-container > img {
    width: 15rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.footer-phone, .footer-mail {
    display: flex;
    align-items: center;
}

.footer-phone {
    margin-bottom: 2rem;
}

.footer-phone img, .footer-mail img {
    width: 2rem;
    cursor: pointer;
}

.footer-phone p, .footer-mail p {
    /* width: 100%; */
    margin: 0;
    text-align: left;
}

.footer-mail {
    margin-bottom: 3rem;
}

.footer-content-one, 
.footer-content-two {
    margin-bottom: 2rem;
    line-height: 2rem;
}

.footer-content a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.footer-content li {
    cursor: pointer;
} 

footer li:hover {
    font-size: 1.2rem;
    color: bisque;
}

.footer-content a:hover {
    font-size: 1.4rem;
    color: coral;
}

.social-media {
    /* border: 1px solid green; */
}

.social-media ul {
    display: flex;
    justify-content: center;
    /* width: 50%; */   
}

.social-media img {
    width: 2rem;
    padding: 0.6rem;
    margin-left: 2rem;
    border: 1px solid rgb(151, 92, 92);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.attribution a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
